<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.4.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="xamarinios10" />
  <package id="reactiveui" version="7.4.0" targetFramework="xamarinios10" />
  <package id="reactiveui-core" version="7.4.0" targetFramework="xamarinios10" />
  <package id="Realm.Database" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Refit" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-PlatformServices" version="2.3" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.1.1" targetFramework="xamarinios10" />
</packages>