<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Fody" version="3.0.3" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.4" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="xamarinios10" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="xamarinios10" />
  <package id="OxyPlot.Xamarin.iOS" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="ReactiveUI" version="8.7.2" targetFramework="xamarinios10" />
  <package id="ReactiveUI.Events" version="8.7.2" targetFramework="xamarinios10" />
  <package id="ReactiveUI.XamForms" version="8.7.2" targetFramework="xamarinios10" />
  <package id="Realm" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Realm.Database" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Refit" version="4.7.9" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="Splat" version="4.0.2" targetFramework="xamarinios10" />
  <package id="Syncfusion.Licensing" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfAutoComplete.IOS" version="17.4.0.46" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.KeyboardOverlap" version="1.0.0.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.4.0.991537" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="xamarinios10" />
</packages>